<!DOCTYPE html>

<html>

<!-- All references to websites will eventually have to be replaced by local references  -->

<head>
	<title>Leaflet Quick-Start Test</title>
	<!-- JB4: Needs to be modified of offline use. -->
	<link rel="stylesheet" href="/css/leaflet.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="src/L.Control.SlideMenu.css">
	<script src="/javascript/leaflet.js" type="text/javascript"></script>
	<script src="/javascript/offlinemap.js" type="text/javascript"></script>
	<script src="/javascript/leaflet-button-control.js" type="text/javascript"></script>
	<script src="src/L.Control.SlideMenu.js"></script>
	<!--<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>-->
</head>

<body>
    <h1>{{message}}</h1>
    <button type="submit" class="btn btn-primary queen-button">X</button>

    <input type="text" class="keyboard" placeholder = 'Enter description...'></input>

	<div id="mapid" style="width: 80vw; height: 80vh"></div>
	<script src="/javascript/leaflet_offline_setup.js" type="text/javascript"></script>

	<script type="text/javascript">

		//Boring Marker
		var marker = L.marker([51.5, -0.09]).addTo(mymap);

		//Draw Circle
		var circle = L.circle([51.508, -0.11], {
    		color: 'red',
    		fillColor: '#f03',
    		fillOpacity: 0.5,
    		radius: 500 //Units are in meters (absolute)
		}).addTo(mymap);

		//Draw Triangle
		var polygon = L.polygon([
    		[51.509, -0.08],
    		[51.503, -0.06],
    		[51.51, -0.047]
		]).addTo(mymap);

		//Simple Clickable Popups
		marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup(); //Immediately opens the popup
		circle.bindPopup('I am a circle.<form action="allQueenWaypoints" method="get"> <button type="submit" class="btn btn-primary" id="allButton" >Queen</button></form>');
		polygon.bindPopup("I am a polygon. <br> <input type='text' class='btn btn-primary keyboard' placeholder='Enter Description...'></input>");

		//Non-Clickable Popup: This popup exists independently of an object, and disappears if you click away.  It is inaccessible afterward.
		var popup = L.popup()
	    .setLatLng([51.5, -0.09])
	    .setContent("I am a standalone popup.")
	    .openOn(mymap); //.openOn closes all other popups and opens this one.

	    //Click on Map Creates Popup with Coordinates
	    var popup = L.popup(); //Creates popup variable
		function onMapClick(e) { //Function which assigns event click LatLong to new popup and displays it.
    		popup
        	.setLatLng(e.latlng)
        	.setContent("You clicked the map at " + e.latlng.toString())
        	.openOn(mymap);
		}
		mymap.on('click', onMapClick); //Creates an event listener for clicks on map

		var left  = '<h1>Slide Menu (Left)</h1>';
		var right = '<h1>Slide Menu (Right)</h1>';
		var contents = '<hr>';

		var slideMenu = L.control.slideMenu('', {position: 'topright', menuposition: 'topright', width: '30%', height: '100%', delay: '50'}).addTo(mymap);
		slideMenu.setContents(right + contents);
	</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.runtime.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

		<link href="css/jquery-ui.min.css" rel="stylesheet">
		<script src="js/jquery-latest.min.js"></script>
		<script src="js/bootstrap.min.js"></script>

    <!-- jQuery UI position utility (optional, if you position the keyboard yourself) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>

    <!-- keyboard widget css & script -->
    <link href="css/keyboard.min.css" rel="stylesheet">
    <script src="js/jquery.keyboard.js"></script>

    <!-- css for the preview keyset extension -->
    <link href="css/keyboard-previewkeyset.min.css" rel="stylesheet">
    <script src="/javascript/button_index.js"></script>

</body>

</html>
