.menutitle{
  background-color: black;
  color: #ffd000;
  padding: 0px;
  margin-left: 15px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.queenmenublock{
  background-color: #ffd000;
  color: black;
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.queentitle{
  margin-top:2px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.queencoord{
  margin-top:2px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.queentimestamp{
  margin-top:0px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.queenscout{
  margin-top:0px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.leaflet-control-attribution, .leaflet-control-scale-line{
  padding: 2.5px;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{
    background-clip: padding-box;
    border: 0px;
}

.leaflet-right .leaflet-control{
    margin-right: 0px;
}

.leaflet-bottom .leaflet-control{
    margin-bottom: 0px;
}

.leaflet-control-slidemenu{
    background-color: black;
    border-radius: 0px;
    color: #ffd000;
    padding: 16px 30%;
    cursor: pointer;
    font-size: 14pt;
}

.leaflet-menu{
    position: absolute;
    background-color: black;
    color: #ffd000;
    overflow: auto;
    cursor: default;
    z-index: 9999;
}

.leaflet-menu::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background: #f2f2f2;
}

.leaflet-menu::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background: #777;
}

.leaflet-menu-close-button{
    background-color: black;
    border: none;
    font-size: 14pt;
    color: #ffd000;
    cursor: pointer;
}

.leaflet-menu-close-button:hover{
    color: #4285F4;
}
