@font-face {
    font-family: azonsansbold;
    src: url('/css/fonts/AzoSans.otf') format('opentype');
}

.menuTitle{
  background-color: black;
  color: #fbe104;
  padding-left: 10px;
  font-size: 20px;
  display: inline-block;
  float: left;
}

.menuContainer {
    width: 100%;
    height: 30px;
    padding-left: 10px;
}

.queenmenublock{
  background-color: #fbe104;
  color: black;
  padding: 5px;
  margin: 15px;
}

.submenuName{
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 16px;
}

.submenuContent {
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 12px; 
}

.form-inline {
  margin: 5px 0px 5px 10px;
}

.queencoord{
  margin-top:2px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.queentimestamp{
  margin-top:0px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.queenscout{
  margin-top:0px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.submenuBack {
    color: #fbe104;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: inline-block;
    float: left;
    font-size: 30px;
}

.submenuBack:hover {
    color: #f8ba00;
    font-size: 30px;
}
.leaflet-menu-close-button{
    padding: 5px;
}

.form-control.descriptionInput {
    height: 30px;
    border: 2px solid #fbe104;
}
.btn.descriptionButton {
    font-size: 30px;
    padding: 0px 0px 0px 5px;
    border: none;
    background-color: transparent;
}
.btn.descriptionButton:hover {
    color: #f8ba00;
}

.bottomQueenMenu {
    color: #fbe104;
    padding: 10px 30px;
    font-family: azonsansbold;
}
.leaflet-control-attribution, .leaflet-control-scale-line{
  padding: 2.5px;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{
    background-clip: padding-box;
    border: 0px;
}

.leaflet-right .leaflet-control{
    margin-right: 0px;
}

.leaflet-bottom .leaflet-control{
    margin-bottom: 0px;
}

.leaflet-control-slidemenu{
    background-color: black;
    border-radius: 0px;
    color: #fbe104;
    cursor: pointer;
    font-size: 14pt;
}

.leaflet-menu{
    position: absolute;
    background-color: black;
    color: #fbe104;
    overflow: auto;
    cursor: default;
    z-index: 9999;
}

.leaflet-menu::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background: #726401;
}

.leaflet-menu::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background: #fbe104;
}

.leaflet-menu-close-button{
    background-color: black;
    border: none;
    font-size: 14pt;
    color: #fbe104;
    cursor: pointer;
}

.leaflet-menu-close-button:hover{
    color: #f8ba00;
}
