body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tweetAuthor {
    position: relative;
    float: left;
}
.tweetBody {
    position:  relative;
    float: left;
}
button {
    float: left;
}